<p-card class="rounded flex flex-col w-full flex-grow overflow-hidden">
    <ng-template pTemplate="header">
        <img
            [src]="
                product?.imagen
                    ? 'data:image/jpeg;base64,' + product?.imagen
                    : '/producto.webp'
            "
            alt="{{ product?.nombre }}"
            class="h-32 w-full md:h-48 object-cover mb-4 rounded" />
    </ng-template>
    <ng-template pTemplate="content">
        <h2 class="text-xl md:text-2xl font-bold text-center dark:text-white">
            {{ product?.nombre }}
        </h2>
        <p class="text-green-600 font-semibold text-center">
            {{ product?.precio ?? 0 | currencySoles }}
        </p>
        <p class="text-yellow-500 text-center">5 ★</p>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="w-full flex justify-between mt-4">
            <button
                pButton
                type="button"
                label="Ver más"
                class="p-button-rounded p-button-info"
                [routerLink]="['/producto', product?.id]"></button>
            <button
                pButton
                type="button"
                icon="pi pi-shopping-cart"
                class="p-button-rounded p-button-success"></button>
        </div>
    </ng-template>
</p-card>
