<header
    class="flex flex-col sm:flex-row justify-between items-center py-4 max-w-7xl mx-auto">
    <a href="" class="text-2xl md:text-3xl font-bold">
        <img src="/logo.png" alt="Logo" class="h-12 md:h-16" />
    </a>
    <input
        pInputText
        type="text"
        class="w-48 mx-4 p-2 mt-2 sm:mt-0"
        placeholder="Buscar..." />
    <div class="flex items-center mt-2 sm:mt-0">
        <div class="mr-4"><i class="fas fa-shopping-cart"></i> Carrito</div>
        <button
            pButton
            type="button"
            label="Login"
            icon="pi pi-sign-in"
            class="mr-2"></button>
        <button
            pButton
            type="button"
            label="Registro"
            icon="pi pi-user-plus"></button>
    </div>
</header>
