<div class="max-w-7xl mx-auto my-8 md">
    <p-carousel
        [value]="products"
        [numVisible]="1"
        [circular]="true"
        [autoplayInterval]="3000"
        [showNavigators]="false">
        <ng-template pTemplate="item" let-product>
            <div
                class="items-center grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                <img
                    [src]="
                        product?.imagen
                            ? 'data:image/jpeg;base64,' + product?.imagen
                            : '/producto.webp'
                    "
                    class="w-full object-cover rounded-lg shadow-md mb-4 aspect-square" />
                <div class="">
                    <h3
                        (click)="redirectToProduct(product.id)"
                        class="text-lg dark:text-white md:text-2xl font-bold cursor-pointer hover:underline mb-2">
                        {{ product.nombre }}
                    </h3>
                    <p class="text-sm md:text-base">
                        {{ product.descripcion }}
                    </p>
                    <p class="text-lg md:text-xl font-bold text-green-600 mb-4">
                        {{ product.precio | currencySoles }}
                    </p>
                    <div class="w-full flex flex-row justify-between mt-4">
                        <button
                            pButton
                            type="button"
                            label="Ver más"
                            class="p-button-rounded p-button-info mb-2 md:mb-0"
                            [routerLink]="['/producto', product.id]"></button>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-shopping-cart"
                            class="p-button-rounded p-button-success"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
