<div
    class="max-w-7xl mx-auto flex justify-center items-center h-[calc(100vh-96px-220px)]">
    <div class="w-full max-w-2xl p-6 shadow-md rounded-md">
        <h1 class="text-center text-2xl font-bold mb-6">Registro</h1>
        <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
            class="grid grid-cols-2 gap-4">
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="nombres" class="mb-1 font-medium">Nombres:</label>
                <input
                    type="text"
                    id="nombres"
                    formControlName="nombres"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('nombres')?.invalid &&
                        registerForm.get('nombres')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('nombres')?.errors?.['required']
                        "
                        >El nombre es requerido.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="apellidos" class="mb-1 font-medium"
                    >Apellidos:</label
                >
                <input
                    type="text"
                    id="apellidos"
                    formControlName="apellidos"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('apellidos')?.invalid &&
                        registerForm.get('apellidos')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('apellidos')?.errors?.['required']
                        "
                        >El apellido es requerido.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2">
                <label for="correo" class="mb-1 font-medium"
                    >Correo Electrónico:</label
                >
                <input
                    type="email"
                    id="correo"
                    formControlName="correo"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('correo')?.invalid &&
                        registerForm.get('correo')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="registerForm.get('correo')?.errors?.['required']"
                        >El correo es requerido.</small
                    >
                    <small *ngIf="registerForm.get('correo')?.errors?.['email']"
                        >El correo electrónico no es válido.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="celular" class="mb-1 font-medium">Celular:</label>
                <input
                    type="text"
                    id="celular"
                    formControlName="celular"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('celular')?.invalid &&
                        registerForm.get('celular')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('celular')?.errors?.['required']
                        "
                        >El celular es requerido.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="nro_documento" class="mb-1 font-medium"
                    >Número de Documento:</label
                >
                <input
                    type="text"
                    id="nro_documento"
                    formControlName="nro_documento"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('nro_documento')?.invalid &&
                        registerForm.get('nro_documento')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('nro_documento')?.errors?.[
                                'required'
                            ]
                        "
                        >El número de documento es requerido.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="contrasena" class="mb-1 font-medium"
                    >Contraseña:</label
                >
                <input
                    type="password"
                    id="contrasena"
                    formControlName="contrasena"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('contrasena')?.invalid &&
                        registerForm.get('contrasena')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('contrasena')?.errors?.['required']
                        "
                        >La contraseña es requerida.</small
                    >
                    <small
                        *ngIf="
                            registerForm.get('contrasena')?.errors?.[
                                'minlength'
                            ]
                        "
                        >La contraseña debe tener al menos 6 caracteres.</small
                    >
                </div>
            </div>
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <label for="contrasena_confirmation" class="mb-1 font-medium"
                    >Confirmar Contraseña:</label
                >
                <input
                    type="password"
                    id="contrasena_confirmation"
                    formControlName="contrasena_confirmation"
                    class="p-2 border border-gray-300 rounded-md" />
                <div
                    *ngIf="
                        registerForm.get('contrasena_confirmation')?.invalid &&
                        registerForm.get('contrasena_confirmation')?.touched
                    "
                    class="text-red-600 text-sm mt-1">
                    <small
                        *ngIf="
                            registerForm.get('contrasena_confirmation')
                                ?.errors?.['required']
                        "
                        >La confirmación de la contraseña es requerida.</small
                    >
                    <small
                        *ngIf="
                            registerForm.get('contrasena_confirmation')
                                ?.errors?.['minlength']
                        "
                        >La confirmación de la contraseña debe tener al menos 6
                        caracteres.</small
                    >
                    <small
                        *ngIf="
                            registerForm.get('contrasena_confirmation')
                                ?.errors?.['mismatch']
                        "
                        >Las contraseñas no coinciden.</small
                    >
                </div>
            </div>
            <button
                type="submit"
                pButton
                label="Registrarse"
                class="col-span-2 w-full py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-200"
                [disabled]="registerForm.invalid"></button>
        </form>
        <p class="text-center mt-4">
            ¿Ya tienes cuenta?
            <a
                routerLink="/iniciar-sesion"
                class="text-blue-600 hover:underline cursor-pointer"
                >Inicia Sesión</a
            >
        </p>
    </div>
</div>
