<app-slider
    [products]="[
        {
            id: 1,
            title: 'Producto 1',
            image: '/producto.webp',
            description: 'Descripción del producto 1',
            price: 100,
        },
        {
            id: 2,
            title: 'Producto 2',
            image: '/producto.webp',
            description: 'Descripción del producto 2',
            price: 200,
        },
        {
            id: 3,
            title: 'Producto 3',
            image: '/producto.webp',
            description: 'Descripción del producto 3',
            price: 300,
        },
        {
            id: 4,
            title: 'Producto 4',
            image: '/producto.webp',
            description: 'Descripción del producto 4',
            price: 400,
        },
        {
            id: 5,
            title: 'Producto 5',
            image: '/producto.webp',
            description: 'Descripción del producto 5',
            price: 500,
        },
    ]">
</app-slider>
<app-product-list></app-product-list>
