<div class="max-w-7xl mx-auto my-12">
    <h2 class="font-black text-4xl pb-8">Cesta</h2>
    <div class="border-y border-white py-8 flex flex-col gap-8">
        <div
            *ngFor="let item of cartItems"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <img
                [src]="'/producto.webp'"
                alt=""
                class="aspect-square w-full col-span-1" />
            <div class="md:col-span-2 flex flex-col gap-4">
                <div
                    class="flex flex-col md:flex-row md:justify-between col-end-1">
                    <h3
                        class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                        {{ item.product.nombre }}
                    </h3>
                    <p
                        class="text-2xl font-semibold text-gray-900 dark:text-gray-100">
                        {{ item.product.precio | currencySoles }}
                    </p>
                </div>
                <p>{{ item.product.descripcion }}</p>
                <div class="quantity-control w-full flex gap-4 items-center">
                    <button
                        pButton
                        type="button"
                        icon="pi pi-minus"
                        (click)="decreaseQuantity(item.product.id)"
                        [disabled]="item.quantity <= 1"
                        class="p-2 bg-gray-200 dark:bg-gray-700 rounded-full"></button>
                    <span class="text-xl text-gray-900 dark:text-gray-100">{{
                        item.quantity
                    }}</span>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        (click)="increaseQuantity(item.product.id)"
                        [disabled]="item.quantity >= (item.product.stock || 0)"
                        class="p-2 bg-gray-200 dark:bg-gray-700 rounded-full"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-8 flex justify-end gap-4 items-center">
        <p class="text-2xl font-semibold text-gray-900 dark:text-gray-100">
            Total
        </p>
        <p class="text-3xl font-semibold text-green-600">
            {{ total | currencySoles }}
        </p>
    </div>
    <div class="flex justify-end mt-8">
        <button
            pButton
            type="button"
            label="Ir a pagar"
            [routerLink]="['/finalizar-compra']"
            routerLinkActive="router-link-active"
            class="p-2 bg-gray-200 dark:bg-gray-700 rounded-full"></button>
    </div>
</div>
