<div class="max-w-7xl mx-auto my-12">
    <h2
        class="font-black text-4xl pb-8 text-center w-full text-gray-900 dark:text-gray-100">
        Finalizar compra
    </h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
                class="grid col-span-1 md:grid-cols-subgrid gap-6 p-4 shadow-md rounded">
                <!-- Content for the first box -->
                <div>
                    <h3
                        class="font-semibold text-lg mb-2 text-gray-900 dark:text-gray-100">
                        Dirección de envío
                    </h3>
                    <div class="space-y-4">
                        <div>
                            <label
                                for="address"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                                >Dirección:</label
                            >
                            <input
                                type="text"
                                id="address"
                                formControlName="address"
                                class="w-full p-2 border rounded bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" />
                            <div
                                *ngIf="
                                    checkoutForm.get('address')?.invalid &&
                                    (checkoutForm.get('address')?.touched ||
                                        checkoutForm.get('address')?.touched)
                                "
                                class="text-red-500 text-sm">
                                Dirección es requerida.
                            </div>
                        </div>
                        <div>
                            <label
                                for="city"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                                >Ciudad:</label
                            >
                            <input
                                type="text"
                                id="city"
                                formControlName="city"
                                class="w-full p-2 border rounded bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" />
                            <div
                                *ngIf="
                                    checkoutForm.get('city')?.invalid &&
                                    checkoutForm.get('city')?.touched
                                "
                                class="text-red-500 text-sm">
                                Ciudad es requerida.
                            </div>
                        </div>
                        <div>
                            <label
                                for="postal-code"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                                >Código Postal:</label
                            >
                            <input
                                type="text"
                                id="postal-code"
                                formControlName="postalCode"
                                class="w-full p-2 border rounded bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" />
                            <div
                                *ngIf="
                                    checkoutForm.get('postalCode')?.invalid &&
                                    checkoutForm.get('postalCode')?.touched
                                "
                                class="text-red-500 text-sm">
                                Código Postal es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3
                        class="font-semibold text-lg mb-2 text-gray-900 dark:text-gray-100">
                        Seleccionar método de pago
                    </h3>
                    <div class="space-y-4">
                        <div>
                            <label
                                for="card-number"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                                >Número de Tarjeta:</label
                            >
                            <input
                                type="text"
                                id="card-number"
                                formControlName="cardNumber"
                                class="w-full p-2 border rounded bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" />
                            <div
                                *ngIf="
                                    checkoutForm.get('cardNumber')?.invalid &&
                                    checkoutForm.get('cardNumber')?.touched
                                "
                                class="text-red-500 text-sm">
                                Número de Tarjeta es requerido.
                            </div>
                        </div>
                        <div>
                            <label
                                for="expiry-date"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                                >Fecha de Expiración:</label
                            >
                            <input
                                type="text"
                                id="expiry-date"
                                formControlName="expiryDate"
                                class="w-full p-2 border rounded bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" />
                            <div
                                *ngIf="
                                    checkoutForm.get('expiryDate')?.invalid &&
                                    checkoutForm.get('expiryDate')?.touched
                                "
                                class="text-red-500 text-sm">
                                Fecha de Expiración es requerida.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3
                        class="font-semibold text-lg mb-2 text-gray-900 dark:text-gray-100">
                        Revisar artículos y envío
                    </h3>
                    <div class="flex flex-col gap-4">
                        <div
                            *ngFor="let item of cartItems"
                            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                            <img
                                [src]="
                                    item?.product?.imagen
                                        ? 'data:image/jpeg;base64,' +
                                          item?.product?.imagen
                                        : '/producto.webp'
                                "
                                alt=""
                                class="aspect-square w-full col-span-1" />
                            <div class="md:col-span-2 flex flex-col gap-4">
                                <h3
                                    class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                                    {{ item.product.nombre }}
                                </h3>
                                <p class="text-gray-700 dark:text-gray-300">
                                    {{ item.product.descripcion }}
                                </p>
                                <p class="text-gray-700 dark:text-gray-300">
                                    Cantidad: {{ item.quantity }}
                                </p>
                                <p class="text-gray-700 dark:text-gray-300">
                                    Precio:
                                    {{ item.product.precio | currencySoles }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="col-span-1 md:col-start-2 md:row-start-1 md:row-end-3 p-4 shadow-md rounded">
                <!-- Content for the second box -->
                <h3
                    class="font-semibold text-lg mb-2 text-gray-900 dark:text-gray-100">
                    Detalles de compra
                </h3>
                <ul class="space-y-2">
                    <li
                        class="flex justify-between text-gray-700 dark:text-gray-300">
                        <span>Costo del Producto:</span>
                        <span>{{ productCost | currencySoles }}</span>
                    </li>
                    <li
                        class="flex justify-between text-gray-700 dark:text-gray-300">
                        <span>Costo del envío:</span>
                        <span>{{ shippingCost | currencySoles }}</span>
                    </li>
                    <li
                        class="flex justify-between text-gray-700 dark:text-gray-300">
                        <span>Descuentos:</span>
                        <span>{{ discount | currencySoles }}</span>
                    </li>
                    <li
                        class="flex justify-between text-gray-700 dark:text-gray-300">
                        <span>Total Antes de impuestos:</span>
                        <span>{{ totalBeforeTax | currencySoles }}</span>
                    </li>
                    <li
                        class="flex justify-between text-gray-700 dark:text-gray-300">
                        <span>Cálculo de impuestos:</span>
                        <span>{{ totalTax | currencySoles }}</span>
                    </li>
                    <li
                        class="flex justify-between font-bold text-lg text-gray-900 dark:text-gray-100">
                        <span>Total:</span>
                        <span>{{ total | currencySoles }}</span>
                    </li>
                </ul>
                <div class="mt-4 flex flex-col justify-center">
                    <div class="flex items-center gap-4">
                        <p-toggleswitch
                            formControlName="termsAccepted"
                            [(ngModel)]="termsAccepted" />
                        <label
                            for="termsAccepted"
                            class="text-sm text-gray-700 dark:text-gray-300">
                            He leído y acepto los términos y condiciones
                        </label>
                    </div>
                    <div
                        *ngIf="
                            checkoutForm.get('termsAccepted')?.invalid &&
                            checkoutForm.get('termsAccepted')?.touched
                        "
                        class="text-red-500 text-sm">
                        Aceptar los términos y condiciones es requerido.
                    </div>
                </div>
                <button
                    class="w-full p-2 mt-4 bg-blue-500 text-white rounded hover:bg-blue-600"
                    type="submit"
                    label="Finalizar Compra"
                    pButton
                    [disabled]="checkoutForm.invalid"
                    (click)="onSubmit()">
                    Finalizar Compra
                </button>
            </div>
        </div>
    </form>
</div>
